body{
    background: #f5f7f8;
}

#grid{
    padding: 10px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#grid article{
    color: white;
    /* background: orange; */
    padding: 25px;
}

#item-1{
    background: #e46d6b;
}

#item-2{
    background: #6bb4b2;
}

#item-3{
    background-color: rgb(182, 216, 114);
}

#item-4{
    background-color: rgb(18, 158, 111);
}

#item-5{
    background-color: #418db3;
}

#item-6{
    background-color: #134964;
}

#item-7{
    background: #cf5856;
}

#item-8{
    background-color: rgb(5, 90, 62);
}

#item-9{
    background-color: rgb(60, 67, 100);
}